/* Global Styles */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    margin: 0;
    padding-bottom: 40px;
}

/* form { */
/*     display: inline-block; */
/*     vertical-align: middle; */
/* } */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.search-password,
.password-list,
.add-password {
    /* background-color: white; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* DONE BY ME --------------------------------- */
.auth-section {
    max-width: 850px;
    width: 100%;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-p-font,
.auth-href-font {
    line-height: 0.5;
}

.auth-p-font {
    font-size: 12px;
    color: #666;
}

.auth-href-font {
    font-size: 12px;
}

/* END OF DONE BY ME ------------------------- */

#passwordGenerator {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 5px;
    margin-top: 10px;
}
