/* Global Styles */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e6f0fa;
    color: #212529;
    margin: 0;
    padding-bottom: 40px;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}

h1 {
    font-size: 36px;
    margin-bottom: 40px;
}

h1,
h2 {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

/* Alerts */
.alert {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Table Styles */
.table {
    color: #212529;
}

.table-light td {
    background-color: #f2f2f2;
}

.table-dark th {
    background-color: #343a40;
}

/* Containers */
.tbl-container {
    width: fit-content;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.bdr {
    border-radius: 6px;
    overflow: hidden;
}

.container {
    max-width: 850px;
    width: 80%;
    margin: auto;
    padding: 20px;

    /* Section Styles */
    .search-password,
    .password-list,
    .add-password,
    .edit-password,
    .view-password,
    .folder-management,
    .create-folder,
    .folder-list,
    .update-folder {
        background-color: #f8f8f8;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    /* Prompt Sections */
    .login-prompt-section {
        background-color: #f8f8f8;
        max-width: 850px;
        width: 100%;
        margin: auto;
        padding: 20px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 8vh;
    }

    .forgot-prompt-section {
        background-color: #f8f8f8;
        max-width: 850px;
        width: 100%;
        margin: auto;
        padding: 20px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 27vh;
    }

    /* Prompt Fonts */
    .login-p-font-prompt,
    .login-href-font-prompt {
        line-height: 0.5;
        font-size: 12px;
    }

    .login-p-font-prompt {
        color: #666;
    }

    /* Password Generator Styles */
    #passwordGenerator {
        padding: 10px;
        border: 1px solid #ddd;
        background-color: #e6f0fa;
        border-radius: 5px;
        margin-top: 10px;
    }

    #generatedPassword {
        background-color: #dcdde1;
        cursor: pointer;
        color: #212529;
        border: 1px solid #c4d3e0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    #generatedPassword:hover {
        background-color: #caccd1;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    /* Styles for the track */
    input[type="range"]::-webkit-slider-runnable-track {
        background: #4a90e2;
        /* Your desired color for the track */
        height: 8px;
        border-radius: 4px;
    }

    input[type="range"]::-moz-range-track {
        background: #4a90e2;
        /* Your desired color for the track */
        height: 8px;
        border-radius: 4px;
    }

    /* Styles for the thumb */
    input[type="range"]::-webkit-slider-thumb {
        background: #ffffff;
        /* Your desired color for the thumb */
        border: 2px solid #4a90e2;
        /* Border color same as track for consistency */
        height: 24px;
        width: 24px;
        border-radius: 50%;
        margin-top: -8px;
        /* Centers the thumb over the track */
        -webkit-appearance: none;
        /* Necessary to style thumb */
    }

    input[type="range"]::-moz-range-thumb {
        background: #ffffff;
        /* Your desired color for the thumb */
        border: 2px solid #4a90e2;
        /* Border color same as track for consistency */
        height: 24px;
        width: 24px;
        border-radius: 50%;
        -moz-appearance: none;
        /* Necessary to style thumb */
    }

    /* Styles for the fill (only needed for Webkit browsers) */
    input[type="range"]::-webkit-slider-runnable-track {
        background: linear-gradient(#4a90e2, #4a90e2) 0 / var(--fill-percentage) 100% no-repeat #ddd;
    }

    /* Update fill percentage dynamically based on the value of the slider */
    input[type="range"]:focus::-webkit-slider-runnable-track {
        background-size: var(--fill-percentage) 100%;
    }
}

/* Responsive Design */
@media (max-width: 767px) {
    .container {
        width: 95%;
        padding: 10px;

        .login-prompt-section {
            margin-top: 15vh;
        }

        .forgot-prompt-section {
            margin-top: 35vh;
        }
    }

    h1 {
        font-size: 28px;
    }

    .tbl-container {
        width: 100%;
        margin-top: 10px;
    }

    .table .btn,
    .table form {
        display: block;
        width: 100%;
        margin-bottom: 3px;
    }

    .table td {
        padding: 0.5rem;
    }
}

@media (max-width: 431px) {
    .container {
        width: 95%;
        padding: 10px;

        .login-prompt-section {
            margin-top: 15vh;
        }

        .forgot-prompt-section {
            margin-top: 30vh;
        }
    }

    h1 {
        font-size: 28px;
    }

    .tbl-container {
        width: 100%;
        margin-top: 10px;
    }

    .table .btn,
    .table form {
        display: block;
        width: 100%;
        margin-bottom: 3px;
    }

    .table td {
        padding: 0.5rem;
    }

    .folder-actions a,
    .folder-actions form {
        display: block;
        width: 100%;
        margin-bottom: 3px;
    }
}
