{% extends "layout.html" %}

{% block content %}
<div class="container my-4">
    <header class="mb-4 text-center">
        <h2>Change Password</h2>
    </header>

    <!-- Display flash messages -->
    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <form method="post">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email address" required aria-label="Email" />
            <label for="email">Email address</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New password" required />
            <label for="new_password">New Password</label>
        </div>
        
        <div class="text-center">
            <button type="submit" class="btn btn-primary mb-4">Change Password</button>
        </div>
    </form>
</div>
{% endblock %}
