{% extends "layout.html" %} {% block content %}
<header>
    <h1>FlaskKeyring Dashboard</h1>
</header>

<main>
    <section class="search-password">
        <h2>Search Account</h2>
        <form method="POST" action="{{ url_for('main.search_password') }}" class="mb-2">
            <div class="input-group">
                <input type="text" id="search_website" name="search_website" class="form-control form-control-dark" placeholder="Search by website" required />
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </section>

    <section class="password-list">
        <h2>Your Accounts</h2>

        <ul class="list-group">
            {% for password in passwords %}
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <div>{{ password.website }}</div>
                    <button class="btn btn-primary view-details-btn" data-bs-toggle="collapse" data-bs-target="#details-{{ password.id }}" data-password-id="{{ password.id }}">
                        View Details
                    </button>
                </div>
                <div class="collapse mt-2" id="details-{{ password.id }}">
                    <p><strong>Username:</strong> {{ password.username }}</p>
                    <p><strong>Password:</strong> <span class="passwordField" data-password-id="{{ password.id }}">Decrypting...</span></p>
                    <div class="d-flex justify-content-start mt-2">
                        <a href="{{ url_for('main.edit_password', password_id=password.id) }}" class="btn btn-secondary me-2">Edit</a>
                        <button class="btn btn-danger delete-btn" data-id="{{ password.id }}">Delete</button>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

    </section>

    <section class="add-password">
        <h2>Add New Account</h2>
        <form id="addPasswordForm" class="mb-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control form-control-dark" id="website" name="website" placeholder="Website URL" required>
                <label for="website">Website</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control form-control-dark" id="username" name="username" placeholder="Username" required>
                <label for="username">Username</label>
            </div>

            <div class="input-group mb-3">
                <div class="form-floating flex-grow-1">
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required />
                    <label for="floatingPassword">Password</label>
                </div>
                <button id="togglePassword" type="button" class="btn btn-outline-secondary">
                    <i class="bi bi-eye-slash"></i>
                </button>
                <button id="generatePasswordIcon" type="button" class="btn btn-outline-secondary">
                    <img src="{{ url_for('static', filename='images/key-icon.png') }}" alt="Password Generator" width="20" height="20">
                </button>
            </div>

            <div class="mb-3" id="passwordGenerator" style="display: none;">
                <!-- Additional fields for password generation -->
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" id="folder_id" name="folder_id" aria-label="Folder select">
                    {% for folder in folders %}
                        <option value="{{ folder.id }}" {% if folder.name == 'Main' %}selected{% endif %}>{{ folder.name }}</option>
                    {% endfor %}
                </select>
                <label for="folder_id">Folder</label>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Add Account</button>
            </div>
        </form>
    </section>
</main>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="confirmDeleteForm" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="text-center mt-5">
    <p>&copy; {{ current_year }} - FlaskKeyring</p>
</footer>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/generate_password.js') }}"></script>
<script src="{{ url_for('static', filename='js/toggle_password.js') }}"></script>
<script src="{{ url_for('static', filename='js/client_encryption.js') }}"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    // Handle View Details for password decryption
    const viewButtons = document.querySelectorAll(".view-details-btn");
    
    viewButtons.forEach(button => {
        button.addEventListener("click", async function() {
            const passwordId = button.getAttribute("data-password-id");
            const passwordField = document.querySelector(`.passwordField[data-password-id="${passwordId}"]`);

            if (passwordField.textContent === "Decrypting...") {
                try {
                    const response = await fetch(`/api/get_password/${passwordId}`);
                    const data = await response.json();
                    const decryptedPassword = await decryptData(data);

                    if (decryptedPassword !== null) {
                        passwordField.textContent = decryptedPassword;
                    } else {
                        passwordField.textContent = "Failed to decrypt password.";
                    }
                } catch (error) {
                    console.error("Error fetching or decrypting password:", error);
                    passwordField.textContent = "Error retrieving password.";
                }
            }
        });
    });

    // Handle Add Account form submission
    document.getElementById("addPasswordForm").addEventListener("submit", async function(event) {
        event.preventDefault();

        const website = document.getElementById("website").value;
        const username = document.getElementById("username").value;
        const password = document.getElementById("floatingPassword").value;
        const folderId = document.getElementById("folder_id").value;

        const encryptedData = await encryptData(password);

        const payload = {
            website: website,
            username: username,
            folder_id: folderId,
            ciphertext: encryptedData.ciphertext,
            iv: encryptedData.iv,
            salt: encryptedData.salt,
        };

        fetch("/api/save_password", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(payload),
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === "success") {
                alert("Password saved successfully!");
                window.location.reload();
            } else {
                alert("Error saving password.");
            }
        })
        .catch(error => {
            console.error("Error:", error);
        });
    });

    // Handle delete confirmation
    const deleteButtons = document.querySelectorAll(".delete-btn");
    const confirmDeleteForm = document.getElementById("confirmDeleteForm");

    deleteButtons.forEach(button => {
        button.addEventListener("click", function() {
            const passwordId = button.getAttribute("data-id");
            confirmDeleteForm.action = `/remove_password/${passwordId}`;
            const deleteModal = new bootstrap.Modal(document.getElementById("deleteModal"));
            deleteModal.show();
        });
    });
});
</script>
{% endblock %}
