{% extends "layout.html" %}

{% block content %}
<header>
    <h1 class="mb-3">Edit Password Entry</h1>
</header>

<main>
    <div class="container my-4">
        <section class="edit-password">

            <form method="POST" action="{{ url_for('main.edit_password', password_id=password.id) }}">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="website" name="website" placeholder="Website URL" value="{{ password.website }}">
                    <label for="website">Website</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="{{ password.username }}">
                    <label for="username">Username</label>
                </div>

                <div class="mb-3">
                    <div class="form-floating mb-3 position-relative">
                        <input type="password" name="password" class="form-control form-control-dark" id="floatingPassword" placeholder="Password" value="{{ decrypted_password }}" />
                        <label for="floatingPassword">Password</label>
                        <!-- Button for generating password -->
                        <button id="generatePasswordIcon" type="button" class="btn btn-primary position-absolute top-0 end-0 mt-2 me-2">
                            <img src="{{ url_for('static', filename='images/key-icon.png') }}" alt="Password Generator" width="24" height="24">
                        </button>
                    </div>
                </div>

                <div class="mb-3" id="passwordGenerator" style="display: none;">

                    <div class="mb-3">
                        <label for="generatedPassword" class="form-label">Generated Password:</label>
                        <input type="text" id="generatedPassword" readonly class="form-control" />
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="passwordType" name="passwordType" aria-label="Password Type select">
                            <option value="random">Random Password</option>
                            <option value="memorable">Memorable Password</option>
                            <option value="pin">PIN Code</option>
                        </select>
                        <label for="passwordType">Password Type:</label>
                    </div>

                    <div class="mb-3">
                        <label for="passwordLength" class="form-label">Password Length:</label>
                        <input type="range" id="passwordLength" value="12" min="4" max="40" class="form-range" />
                        <span id="passwordLengthDisplay" class="text-muted">Length: 12</span>
                    </div>

                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" role="switch" id="includeNumbers" checked>
                        <label class="form-check-label" for="includeNumbers">Include Numbers</label>
                    </div>

                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" role="switch" id="includeSymbols" checked>
                        <label class="form-check-label" for="includeSymbols">Include Symbols</label>
                    </div>

                    <div class="text-center">
                        <button id="generatePasswordButton" class="btn btn-primary mb-2">Generate</button>
                    </div>

                </div>

                <div class="form-floating mb-3">
                    <select class="form-select" id="folder_id" name="folder_id" aria-label="Folder select">
                        {% for folder in folders %}
                            <option value="{{ folder.id }}" {% if folder.id == password.folder_id %}selected{% endif %}>{{ folder.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="folder_id">Folder</label>
                </div>

                <div class="text-center mt-4">
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary mb-4">Save Changes</button>
                    <!-- Cancel Button -->
                    <a href="{{ url_for('main.dashboard') }}" class="btn btn-secondary mb-4">Cancel</a>
                </div>

            </form>

        </section>
    </div>
</main>

{% endblock %}

{% block scripts %}

    <script src="{{ url_for('static', filename='js/generate_password.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toggle_password.js') }}"></script>

{% endblock %}
