{% extends "layout.html" %}

{% block content %}
<header>
    <h1>Edit Password Entry</h1>
</header>

<main>
    <section class="edit-password">
        <!-- Form for editing a password entry -->
        <form method="POST" action="{{ url_for('main.edit_password', password_id=password.id) }}" class="mt-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="website" name="website" placeholder="Website URL" value="{{ password.website }}" required>
                <label for="website">Website:</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="{{ password.username }}" required>
                <label for="username">Username:</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" value="{{ password.password }}" required>
                <label for="password">Password:</label>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
    </section>
</main>
{% endblock %}

