{% extends "layout.html" %}

{% block content %}
<!-- Hero Section -->
<section class="d-flex flex-column justify-content-between">
    <header class="text-center mt-4">
        <h1 class="display-4" id="welcomePageHeader">Welcome to FlaskKeyring</h1>
        <p class="lead mb-4">Securely manage your passwords with ease and confidence.</p>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Secure Passwords" class="img-fluid rounded mt-2 mb-4" id="metaImage">
    </header>

    <main class="mb-auto text-center mt-4">
        {% if not current_user.is_authenticated %}
        <div class="row justify-content-center">
            <div class="col-12 col-sm-auto mb-2">
                <a href="{{ url_for('auth.register') }}" class="btn btn-primary btn-lg responsive-btn">Get Started</a>
            </div>
            <div class="col-12 col-sm-auto mb-2">
                <a href="{{ url_for('auth.login') }}" class="btn btn-secondary btn-lg responsive-btn">Login</a>
            </div>
            <div class="col-12 col-sm-auto mb-2">
                <a href="{{ url_for('main.demo') }}" class="btn btn-info btn-lg responsive-btn">Watch Demo</a>
            </div>
        </div>
        {% else %}
        <div class="row justify-content-center">
            <div class="col-12 col-sm-auto mb-2">
                <a href="{{ url_for('main.dashboard') }}" class="btn btn-success btn-lg responsive-btn">Go to Dashboard</a>
            </div>
        </div>
        {% endif %}
    </main>
</section>

<!-- Features Section -->
<section class="features-section py-5">
    <div class="container">
        <h2 class="mb-5">Why Choose FlaskKeyring?</h2>
        <div class="row text-center">
            <div class="col-md-4 mb-4">
                <div class="feature-icon mb-3">
                    <i class="fas fa-shield-alt fa-3x text-primary"></i>
                </div>
                <h4>Top-notch Security</h4>
                <p>Advanced encryption keeps your passwords safe and secure.</p>
            </div>
            <div class="col-md-4 mb-4">
                <div class="feature-icon mb-3">
                    <i class="fas fa-sync-alt fa-3x text-primary"></i>
                </div>
                <h4>Easy Access</h4>
                <p>Access your passwords anytime, anywhere, on any device.</p>
            </div>
            <div class="col-md-4 mb-4">
                <div class="feature-icon mb-3">
                    <i class="fas fa-user-friends fa-3x text-primary"></i>
                </div>
                <h4>User-Friendly</h4>
                <p>An intuitive interface that makes managing passwords a breeze.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
