{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">

    <h1 class="display-4" id="welcomePageHeader">Welcome to FlaskKeyring</h1>
    <p class="lead">Your secure and reliable password management solution.</p>

    <img src="{{ url_for('static', filename='images/meta-image.png') }}" alt="Secure Passwords" class="img-fluid rounded mt-2" id="metaImage" height="225" width="225">
    
    <hr class="my-4">

    <p>Store and manage your passwords securely and conveniently with FlaskKeyring.</p>

    {% if not current_user.is_authenticated %}
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{ url_for('auth.register') }}" role="button">Register Now</a>
        <a class="btn btn-secondary btn-lg" href="{{ url_for('auth.login') }}" role="button">Login</a>
    </p>

    {% else %}
    <p class="lead">
        <a class="btn btn-success btn-lg" href="{{ url_for('main.dashboard') }}" role="button">Go to Dashboard</a>
    </p>

    {% endif %}

    <!-- Optional: Testimonials or additional features section here -->

</div>
{% endblock %}
