{% extends "layout.html" %}

{% block content %}
<h2>Register</h2>

<form method="post">
    <div class="container my-4">
        <section>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email address" required/>
                <label for="email">Email address</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required />
                <label for="username">Username</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required />
                <label for="password">Password</label>
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary mb-4">Register</button>
            </div>
        </section>
    </div>
</form>

{% endblock %}
