{% extends "layout.html" %} {% block content %}
<h2>Reset Password</h2>

<form method="post">
    <div class="container my-4 auth-form-container">
        <section>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="new_password" name="new_password"
                    placeholder="New Password" required />
                <label for="new_password">New Password</label>
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary mb-4">Reset Password</button>
            </div>
        </section>
    </div>
</form>
{% endblock %}
