{% extends "layout.html" %}

{% block content %}
<header>
    <h1 class="mb-3">View Password</h1>
</header>

<main>

    <div class="container my-4">
        <section class="search-password mb-4">
            <h2>Search Password</h2>
            <form method="POST" action="{{ url_for('main.search_password') }}" class="mb-2">
                <div class="input-group">
                    <input type="text" id="search_website" name="search_website" class="form-control" placeholder="Search by website" required />
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </section>

        <section class="view-password">
            {% if password %}
                <h2>Password Details</h2>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Website:</strong> {{ password.website }}</li>
                    <li class="list-group-item"><strong>Username:</strong> {{ password.username }}</li>
                    <li class="list-group-item"><strong>Password:</strong> {{ decrypted_password }}</li>
                </ul>
            {% else %}
                <p class="text-center">Password details not available.</p>
            {% endif %}
        </section>
    </div>

</main>
{% endblock %}
