{% extends "layout.html" %}

{% block content %}
<header>
    <h1>View Password</h1>
</header>

<main>
    <section class="search-password">
        <h2>Search Password</h2>
        <!-- Form for searching a password entry -->
        <form method="POST" action="{{ url_for('main.search_password') }}" class="mb-4">
            <div class="input-group">
                <input type="text" id="search_website" name="search_website" class="form-control" required />
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </section>

    <section class="view-password">
        {% if password %}
            <h2>Password Details</h2>
            <ul class="list-group">
                <li class="list-group-item"><strong>Website:</strong> {{ password.website }}</li>
                <li class="list-group-item"><strong>Username:</strong> {{ password.username }}</li>
                <!-- Display the decrypted password -->
                <li class="list-group-item"><strong>Password:</strong> {{ decrypted_password }}</li>
            </ul>
        {% else %}
            <p>Password details not available.</p>
        {% endif %}
    </section>
</main>
{% endblock %}
