{% extends "layout.html" %}

{% block content %}
<header>
    <h1 class="mb-3">View Password</h1>
</header>

<main>
    <div class="container my-4">
        <section class="search-password mb-4">
            <form method="POST" action="{{ url_for('main.search_password') }}" class="mb-2">
                <div class="input-group">
                    <input type="text" id="search_website" name="search_website" class="form-control" placeholder="Search by website" required />
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </section>

        {% if passwords is defined and passwords %}
            <section class="password-list">
                <h2>Search Results</h2>
                <ul class="list-group">
                    {% for password in passwords %}

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="website-info mr-3">
                                <strong>Website:</strong> {{ password.website }}
                            </div>
                            <div class="view-button">
                                <a href="{{ url_for('main.view_password', password_id=password.id) }}" class="btn btn-primary">View</a>
                            </div>
                        </li>

                    {% endfor %}
                </ul>
            </section>
        {% elif password is defined %}
            <section class="view-password">
                <h2>Password Details</h2>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Website:</strong> {{ password.website }}</li>
                    <li class="list-group-item"><strong>Username:</strong> {{ password.username }}</li>
                    <li class="list-group-item"><strong>Password:</strong> {{ decrypted_password }}</li>
                    <li class="list-group-item"><strong>Folder:</strong> {{ password.folder.name }}</li>
                </ul>
            </section>
        {% else %}
            <p class="text-center">No matching passwords found.</p>
        {% endif %}
    </div>
</main>
{% endblock %}
