{% extends "layout.html" %} {% block content %}
<header>
    <h1 class="mb-3">Folder: {{ folder.name }}</h1>
</header>

<main>
    <div class="container my-4">

        <section class="password-list">
            <h2>Accounts in Folder</h2>
            <div class="tbl-container bdr">
                <table class="table table-bordered table-hover rounded">
                    <thead class="table-dark text-center">
                        <tr>
                            <th>Website</th>
                            <th>Username</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        {% for password in passwords %}
                        <tr>
                            <td class="align-middle text-center">{{ password.website }}</td>
                            <td class="align-middle text-center">{{ password.username }}</td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center flex-wrap">
                                    <!-- View Button -->
                                    <a href="{{ url_for('main.view_password', password_id=password.id) }}" class="btn btn-primary mx-2 mb-2">View</a>

                                    <!-- Edit Button -->
                                    <a href="{{ url_for('main.edit_password', password_id=password.id) }}" class="btn btn-secondary mx-2 mb-2">Edit</a>

                                    <!-- Delete Form/Button -->
                                    <form action="{{ url_for('main.remove_password', password_id=password.id) }}" method="POST" class="mx-2 mb-2">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

        <div class="text-center">
            <a href="{{ url_for('main.list_folders') }}" class="btn btn-primary mb-3">Back to Folders</a>
        </div>


    </div>
</main>
{% endblock %}
